@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-blue: #068BA6;
  --secondary-blue: #B0E5F0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.checkbox-input:checked+.checkbox-container {
  background-color: #06b6d4;
  /* cyan-500 */
}

.checkbox-input:checked+.checkbox-container .checkmark {
  display: block;
}

.checkbox-input:not(:checked)+.checkbox-container .checkmark {
  display: none;
}

.checkbox-container {
  transition: background-color 0.2s ease;
}

.tooltip-trigger:hover+.tooltip-content,
.tooltip-trigger:focus+.tooltip-content {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: inline-block;
}